@import url('https://fonts.googleapis.com/css?family=Merienda|Modern+Antiqua|Roboto+Condensed');

* {
  box-sizing: border-box;
  margin: 0;
}

body, html {
  height: 100%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board {
  max-width: 90%;
  margin: 20px auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #A19DA5;
  padding: 20px
}

.header-name {
  font-family:'Merienda', cursive, century-gothic, Verdana;
  font-size: 2.2rem;
  width: 40%;
  display: inline-block;
  padding: 0px 25px;
  text-shadow: 1px 1px black;
  text-align: left;
  opacity: 1;
  color: black;
}

.nav-bar {
  display: inline-block;
  width: 60%;
  margin: 30px 0px;
  opacity: 0.8;
  filter: alpha(opacity=60)
}

.menu-item {
  list-style: none;
  width: 30%;
  display: inline-block;
  text-align: center;
}

.menu-link {
  text-decoration: none;
  border: none;
  padding: 5px 20px;
  font-size: 1rem;
  color :white;
  background-color: teal;
  border-radius: 4px;
}  

.about-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0px 0px 20px 0px;
}

.about-image {
  width: 60%;
  height: 20%;
  border: 1px solid lightblue;
  margin: 30px 20%;
}

.about-title {
  font-family:'Merienda', cursive, century-gothic, Verdana;
  font-size: 1.3rem;
  padding: 5px 30px;
  max-width: 85%;
  margin: 0 auto;
}

.about-info {
  padding: 5px 30px 50px 30px;
  max-width: 85%;
  margin: 0 auto;
}

.portfolio-container {
  max-width: 80%;
  margin: 0 auto;
}

.portfolio-title {
  font-family:'Merienda', cursive, century-gothic, Verdana;
  font-size: 1.2rem;
  padding: 15px 0px;
  color: teal;
}

.single-project {
  max-width: 95%;
  margin: 0 auto;
  padding: 50px 0px;
}

.information {
  display: inline-block;
  max-width: 60%;
  vertical-align: top;
}

.project-examples {
  display: inline-block;
}

.media {
  width: 300px;
}

.project-title {
  font-family:'Merienda', cursive, century-gothic, Verdana;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 5px 0px;
}

.project-desc {
  max-width: 90%;
  margin: 5px 10px 20px 5px;
}

.project-tech, .tech-list {
  display: inline-block;
  margin: 5px 8px 20px 6px;
  max-width: 90%;
}

.project-links {
  margin: 20px 10px 20px 5px;
}

.project-github, .live-site-container, .presentation-container {
  display: inline-block;
}

.project-github, .project-live, .presentation { 
  padding: 10px 5px 10px 5px;
}

.resume-img {
  width: 90%;
  border: 1px solid teal;
  margin: 0px 50px;
}

.footer {
  background: teal;
  padding: 20px;
  color: white
}

.social {
  max-width: 80%;
  margin: 10px auto;
}
.footer-name, .contact {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.icon {
  font-size: 2.5rem;
  margin: 0px 40px;
}

.footer-break {
  color: white;
}

.update {
  text-align: center;
  padding: 20px;
  font-family:'Merienda', cursive, century-gothic, Verdana;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
  }

  .board {
    max-width: 90%;
    margin: 20px auto;
  }

  .header {
    padding: 20px 0px 2px 0px;
  }
  
  .header-name, .nav-bar, .menu-item {
    display: block;
    width: 100%;
    text-align: center;
  }

  .menu-item {
    height: 30px; 
    margin: 10px
  }
  
  .menu {
    padding: 0px
  }

  .single-project {
    padding: 10px;
  }
   
  .information, .project-desc, .project-tech {
    max-width: 100%;
    display: block;
    margin: 10px 0px;
  }

  .media {
    margin: 0 auto;
  }

  .project-github, .live-site-container, .presentation {
    display: block;
  }

  .hidden {
    display: none;
  }
  
  .social {
    max-width: 100%;
    margin: 10px auto;
  }
  .footer-name, .contact {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  
  .icon {
    font-size: 2.5rem;
    display: inline-block;
    margin: 10px;
  }

  .resume-img {
    width: 100%;
    margin: 0 auto;
  }
  
}