@import url('https://fonts.googleapis.com/css?family=Merienda|Modern+Antiqua|Roboto+Condensed');

* {
  box-sizing: border-box;
  margin: 0;
}

body, html {
  height: 100%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 95%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero-image {
  background-image: url('./Media/resize-watson-falls.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 375px;
}

.hero-text {
  font-family:'Merienda', cursive, century-gothic, Verdana;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  position: absolute;
  top: 35%;
  left: 38%;
}

.menu-bar {
  width: 100%;
  background-color:  #447735;
}

.menu-item {
  list-style: none;
  width: 33%;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
}

.menu-button {
  color: white;
  border: none;
  width: 70%;
  font-size: 1.2rem;
  background-color: #447735; 
} 

